@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Playfair+Display&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.navbar {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  background: linear-gradient(90deg, rgba(203, 150, 174, 0.347777) 0%, rgba(242, 217, 229, 0.35) 34%, rgba(212, 143, 175, 0.35) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-family: "Karla", sans-serif; }
  .navbar ul {
    margin-right: 50px;
    padding: 0 15px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px; }
    .navbar ul li {
      text-align: center; }
      .navbar ul li a {
        text-decoration: none;
        padding: 20px 50px;
        color: black; }
        .navbar ul li a:hover {
          background-color: lightpink 0.3;
          color: white; }
  .navbar img {
    margin-left: 21px;
    margin-top: 8px;
    width: 60px;
    height: 60px; }

.img {
  /*Con un width 100% es el tamaño real de la imagen*/
  width: 100%;
  height: 300px;
  background-image: url(../assets/img/flor_recortada.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*Cuanto se ve la imagen */
  filter: opacity(0.7); }

body {
  background-color: rgba(238, 185, 210, 0.322);
  position: relative;
  padding-bottom: 70px; }

.main_body {
  background-color: rgba(238, 185, 210, 0.322); }

main h1 {
  color: lightcoral;
  font-family: "Karla", sans-serif;
  font-size: 8vh;
  color: lightcoral;
  text-align: center;
  margin-top: 20px;
  font-weight: lighter;
  animation-name: text-focus-in;
  animation-duration: 2s; }

.subtitulos h2 {
  color: lightcoral;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 35px;
  margin-top: 5px;
  font-weight: lighter; }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.section-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5px;
  max-height: 100%; }
  .section-cards .card {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    color: #f08080;
    font-weight: 4px;
    margin: 15px 15px;
    border: 2px solid #f0808093; }
    .section-cards .card:hover {
      transform: scale(1.1); }
    .section-cards .card p {
      font-family: "Karla", sans-serif;
      font-size: 18px;
      color: white;
      text-align: center;
      background-color: #f7afafa8;
      padding: 5px 0;
      font-weight: bolder; }
    .section-cards .card .compra {
      display: flex;
      justify-content: space-between;
      padding: 0 30px; }

.container_tienda {
  display: grid;
  height: 100%;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  grid-template-areas: "secciones tienda"; }
  .container_tienda .tienda {
    grid-area: tienda; }
    .container_tienda .tienda h1 {
      padding: 20px;
      margin: 10px; }

.tienda_1 {
  grid-area: tienda; }
  .tienda_1 h1 {
    padding: 20px;
    margin: 10px; }

.secciones {
  background-color: rgba(238, 197, 216, 0.349);
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding-right: 30px;
  padding-top: 80px;
  grid-area: secciones; }
  .secciones p {
    margin: 50px 0; }
  .secciones h1 {
    margin-bottom: 50px;
    padding-top: 30px;
    font-size: 27px; }
  .secciones ul {
    list-style: none;
    padding: 0 10px; }
    .secciones ul li {
      margin-bottom: 50px; }
      .secciones ul li a {
        vertical-align: middle;
        text-decoration: none;
        font-family: "Playfair Display", serif;
        font-size: 20px;
        color: black;
        font-family: "Playfair Display", serif;
        color: black;
        vertical-align: middle; }
      .secciones ul li:hover {
        color: #ec596f;
        width: 180px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.253);
        padding-top: 12px; }

.pregunta h3 {
  background-color: rgba(238, 197, 216, 0.6);
  width: auto;
  font-family: "Playfair Display", serif;
  font-size: 2vw;
  color: lightcoral;
  text-align: center;
  margin-top: 50px;
  font-weight: lighter;
  grid-area: pregunta; }

.respuesta p {
  background-color: rgba(248, 248, 215, 0.6);
  width: 100%;
  font-family: "Playfair Display", serif;
  font-size: 2vw;
  color: lightcoral;
  text-align: left;
  font-weight: lighter;
  grid-area: respuesta; }

.contacto {
  display: grid;
  gap: 10px 0px;
  width: 100%;
  height: 80%;
  justify-items: center;
  grid-template-columns: 90% 10%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "titulo mail" "sub-subtitulos mail" "mapa mail" "mapa-subtitulos mail"; }
  .contacto .main h1 {
    grid-area: titulo; }
  .contacto .sub-subtitulos h2 {
    grid-area: sub-subtitulos;
    color: #f39494;
    font-family: "Karla", sans-serif; }
  .contacto .mapa iframe {
    width: 500px;
    height: 400px;
    grid-area: mapa; }
  .contacto .mapa-subtitulos p {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    color: lightcoral;
    text-align: center;
    font-weight: lighter;
    grid-area: mapa-subtitulos; }
    .contacto .mapa-subtitulos p img {
      vertical-align: middle; }
  .contacto .mail {
    top: 80px;
    padding-right: 20px;
    grid-area: mail; }
    .contacto .mail:hover {
      background-color: rgba(248, 248, 215, 0.8);
      width: 80px;
      height: 60px;
      padding-left: 16px;
      padding-top: 3px; }

.preg_frec {
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "pregunta" "respuesta" "pregunta" "respuesta"; }

form {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
  padding-left: 30%;
  justify-items: center; }

form label {
  width: 70%;
  font-weight: bold;
  display: inline-block;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  color: black; }

form input[type="text"],
form input[type="email"] {
  width: 70%;
  padding: 3px 10px;
  margin: 10px 0;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  color: black; }

form input[type="submit"] {
  width: 70%;
  padding: 8px 16px;
  margin-top: 32px;
  display: block;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  color: white;
  background-color: #000; }

form input[type="submit"]:hover {
  cursor: pointer;
  background-color: white;
  color: lightcoral; }

textarea {
  width: 70%;
  height: 100px;
  border: 1px solid #f6f6f6;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  color: black;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  resize: none;
  display: block; }

.redes, .redes_qa {
  display: inline;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 5px;
  background-color: rgba(238, 197, 216, 0.6); }
  .redes ul, .redes_qa ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around; }

@media (max-width: 850px) {
  body {
    width: 100%;
    position: relative; }
  .navbar {
    font-size: 23px;
    font-weight: 400;
    height: 70px;
    width: 100vw; }
    .navbar ul {
      padding: 0 0px;
      padding-top: 20px;
      margin-right: 20px; }
      .navbar ul li {
        text-align: center; }
        .navbar ul li a {
          padding: 30px 15px; }
    .navbar img {
      width: 50px;
      height: 50px; }
  ***************************** *********** TIENDA ********** ***************************** .container_tienda {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "secciones" "tienda"; }
  .secciones {
    width: 100vw;
    height: 70px;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    padding: 0px 7px;
    background-color: rgba(238, 197, 216, 0.404);
    grid-area: secciones; }
    .secciones p {
      margin: 0px; }
    .secciones ul {
      justify-content: space-between;
      list-style: none;
      display: flex;
      display: fixed;
      padding-top: 10px;
      padding-right: 0px; }
    .secciones li {
      margin-bottom: 10px; }
    .secciones a {
      vertical-align: middle;
      text-decoration: none;
      font-family: 'Playfair Display', serif;
      color: black;
      vertical-align: middle;
      padding: 0px 10px; }
  .tienda {
    grid-area: tienda;
    width: 100vw;
    position: absolute;
    top: 30px;
    margin-top: 25px;
    align-items: center; }
    .tienda h1 {
      margin-bottom: 20px;
      margin-top: 80px; }
    .tienda .p {
      text-align: center;
      background-color: #f7afafa8;
      padding: 5px 0;
      font-size: 18px;
      font-weight: bolder; }
    .tienda .section-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      margin-bottom: 60px; }
      .tienda .section-cards .card {
        color: #f08080;
        font-family: 'Playfair Display', serif;
        font-size: 10px;
        margin: 10px 5px;
        border: 2px solid #f0808093; }
  .tienda_1 {
    grid-area: tienda;
    width: 100vw;
    top: 30px;
    margin-top: 25px;
    align-items: center; }
    .tienda_1 h1 {
      margin-bottom: 20px;
      margin-top: 80px; }
    .tienda_1 .p {
      text-align: center;
      background-color: #f7afafa8;
      padding: 5px 0;
      font-size: 18px;
      font-weight: bolder; }
    .tienda_1 .section-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      margin-bottom: 60px; }
      .tienda_1 .section-cards .card {
        color: #f08080;
        font-family: 'Playfair Display', serif;
        font-size: 10px;
        margin: 10px 5px;
        border: 2px solid #f0808093; }
  .compra {
    display: flex;
    justify-content: space-between;
    padding: 0 30px; }
  .subtitulos h2 {
    font-size: 30px;
    text-align: center; }
  ***************************** *********** EMAIL *********** ***************************** form label {
    font-size: 18px; }
  form input[type="text"],
  form input[type="email"] {
    font-size: 12px; }
  form input[type="submit"] {
    font-size: 12px;
    width: 70%; }
  textarea {
    width: 70%;
    height: 100px;
    font-size: 12px; }
  ******************************* ********** CONTACTO *********** ******************************* .contacto .mail img {
    margin-right: 50px; }
  ******************************* ********** CONTACTO *********** ******************************* .contacto .mapa iframe {
    width: 400px;
    height: 300px; }
  ******************************* ********** CONTACTO *********** ******************************* .contacto .main h1 {
    font-size: 40px; }
  ******************************* ********** CONTACTO *********** ******************************* .contacto .sub-subtitulos h2 {
    font-size: 3vh; }
  ***************************** ************ Q_A ************ ***************************** .pregunta h3 {
    font-size: 4vw; }
  .respuesta p {
    font-size: 3vw; }
  .redes_qa {
    position: fixed;
    bottom: 0px;
    left: 0px; } }

@media (max-width: 673px) {
  .navbar {
    font-size: 19px; }
  .contacto .mail img {
    padding-right: 50px; }
  .contacto .sub-subtitulos h2 {
    padding-left: 25px; }
  .contacto .mapa iframe {
    width: 380px;
    height: 280px; }
  .contacto .mapa-subtitulos p {
    font-size: 18px; } }

@media (max-width: 500px) {
  .navbar {
    width: 100%;
    font-size: 15px; }
    .navbar img {
      width: 40px;
      height: 40px;
      padding-top: 8px;
      padding-left: 5px; }
  .contacto .mail {
    padding-right: 40px; }
    .contacto .mail img {
      width: 40px;
      height: 40px; }
  .contacto .sub-subtitulos {
    font-size: 15px;
    padding-left: 20px; }
  .contacto .mapa iframe {
    width: 310px;
    height: 210px; }
  .contacto .mapa-subtitulos p {
    font-size: 15px; }
  ***************************** *********** REDES *********** ***************************** .redes_qa {
    width: 100%; }
  main h1 {
    padding-top: 30px;
    font-size: 9vw; }
  .subtitulos h2 {
    font-size: 6vw; }
  .pregunta h3 {
    font-size: 4vw; }
  .respuesta p {
    font-size: 3vw; }
  ***************************** ********** TIENDA *********** ***************************** .tienda {
    margin-right: 100px; }
    ***************************** ********** TIENDA *********** ***************************** .tienda h1 {
      padding-top: 5px;
      font-size: 13vw;
      padding-right: 50px; }
  .secciones ul {
    padding: 0px;
    height: 30px; }
    .secciones ul li {
      padding: auto;
      margin-top: 10px; }
      .secciones ul li a {
        font-size: 13px;
        padding: 0px 1px; }
  ***************************** *********** EMAIL *********** ***************************** form label {
    font-size: 15px; } }

@media (max-width: 391px) {
  .navbar {
    font-size: 15px; }
    .navbar li {
      margin: 0px 1px;
      padding-top: 8px; }
      .navbar li a {
        padding: 0px 1px; }
    .navbar img {
      width: 30px;
      height: 30px;
      margin-top: 12px;
      padding-bottom: 0px;
      margin-left: 5px; }
  .secciones {
    height: 50px; }
    .secciones ul li {
      margin-top: 6px; }
      .secciones ul li a {
        font-size: 12px;
        padding: 0px 3px; }
  .contacto .mail:hover {
    width: 1px;
    height: 1px;
    padding-left: 1px;
    padding-top: 1px; }
  .contacto .sub-subtitulos h2 {
    font-size: 14px; }
  .contacto .mapa iframe {
    padding-left: 10vw; }
  .tienda {
    align-items: center; }
    .tienda h1 {
      margin-bottom: 20px;
      margin-top: 80px; }
    .tienda .card {
      color: #f08080;
      font-family: 'Playfair Display', serif;
      font-size: 10px;
      margin: 10px 5px;
      border: 2px solid #f0808093; }
      .tienda .card img {
        width: 200px;
        height: 200px; }
      .tienda .card .compra img {
        width: 25px;
        height: 25px; }
      .tienda .card .compra h2 {
        font-size: 10px; }
    .tienda .p {
      text-align: center;
      background-color: #f7afafa8;
      padding: 5px 0;
      font-size: 10px;
      font-weight: bolder; }
  .redes img, .redes_qa img {
    width: 35px;
    height: 35px; } }

@media (max-width: 291px) {
  .navbar {
    font-size: 15px; }
    .navbar ul li a {
      padding-left: 1px;
      padding-right: 3px; } }
