
body {
    background-color: rgba(238, 185, 210, 0.322); 
    position: relative;
    padding-bottom: 70px;
}

.main_body{
	background-color: rgba(238, 185, 210, 0.322);
}

main h1 {
    color: lightcoral;
    @include font($tipografia, 8vh, lightcoral);
    text-align: center;
    margin-top: 20px;
    font-weight: lighter;
    animation-name: text-focus-in;
    animation-duration: 2s;
}

.subtitulos h2{
    color: lightcoral;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 35px;
    margin-top: 5px;
    font-weight: lighter;
}

@keyframes text-focus-in {
    0% {
    -webkit-filter: blur(12px);
        filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
        filter: blur(0px);
    opacity: 1;
    }
}

.section-cards{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 5px;
	max-height: 100%; 
	.card{
		@include font($tipografia-secundaria, 15px, #f08080);
		font-weight: 4px;
		margin: 15px 15px; 
		border: 2px solid #f0808093;
		&:hover{
			transform: scale(1.1);
		}
		p{
			@include font($tipografia, 18px, white);
			text-align: center;
			background-color: #f7afafa8;
			padding: 5px 0;
			font-weight: bolder;
		}
		.compra{
			display: flex;
			justify-content: space-between;
			padding: 0 30px;
		}
	}
}


.container_tienda{
	display: grid;
	// width: 100vw;
	height: 100%; 
	grid-template-columns: 200px 1fr;
	grid-template-rows: auto;
	grid-template-areas: "secciones tienda";
	.tienda{ 
		grid-area: tienda;
		h1{ 
			padding: 20px;
			margin: 10px;
		}
	}
}


.tienda_1{ 
	grid-area: tienda;
	h1{ 
		padding: 20px;
		margin: 10px;
    }
}

.secciones{
	background-color: rgba(238, 197, 216, 0.349);
	font-weight: 400; 
	text-decoration: none;
	text-align: center;
    padding-right: 30px;
	padding-top: 80px;
	p {
		margin: 50px 0;
    }
	h1 {
		margin-bottom: 50px;
		padding-top: 30px;
		font-size: 27px;
    }
	ul {
		list-style: none;
		padding: 0 10px;
		li {
			margin-bottom: 50px;
			a {
				vertical-align: middle; 
				text-decoration: none;
				@include font($tipografia-secundaria, 20px, black);
				font-family: $tipografia-secundaria;
				color: black;
				vertical-align: middle;
            }
			&:hover{
				color: rgb(236, 89, 111);
				width: 180px;
				height: 50px;
				background-color: rgba(255, 255, 255, 0.253);
				padding-top: 12px;
			}
        }
    }
	grid-area: secciones;
}

.pregunta h3{
    background-color: rgba(238, 197, 216, 0.6); 
    width: auto;
    @include font($tipografia-secundaria, 2vw, lightcoral);
    text-align: center;
    margin-top: 50px;
    font-weight: lighter;
    grid-area: pregunta;
}

.respuesta p{
    background-color: rgba(248, 248, 215, 0.6); 
    width: 100%;
    @include font($tipografia-secundaria, 2vw, lightcoral);
    text-align: left;
    font-weight: lighter;
    grid-area: respuesta;
}

.contacto {
	display: grid;
	gap: 10px 0px;
	width: 100%;
	height: 80%;
	justify-items: center;
	@include grid(90% 10%, auto auto auto auto);
	grid-template-areas: "titulo mail"
    "sub-subtitulos mail"
    "mapa mail"
    "mapa-subtitulos mail"
    ;

	.main {
		h1{ 
			grid-area: titulo;
		}
	}
	
	.sub-subtitulos{
		h2 { 
			grid-area: sub-subtitulos;
			color: #f39494;
			font-family: $tipografia;
		}
	}
	
	.mapa{
		iframe { 
			width: 500px;
			height: 400px; 
			grid-area: mapa; 
		}
	}
	
	.mapa-subtitulos{
		p {
			@include font($tipografia-secundaria, 25px, lightcoral);
			text-align: center;
			font-weight: lighter; 
			grid-area: mapa-subtitulos; 
			img {
				vertical-align: middle; 
			}
		}
	}
	
	.mail{
		top: 80px;
		padding-right: 20px;
		grid-area: mail;
		&:hover {
			background-color: rgba(248, 248, 215, 0.8); 
			width: 80px;
			height: 60px; 
			padding-left: 16px;
			padding-top: 3px;
		}
	}

}

.preg_frec{
	@include grid(100%, auto);
	grid-template-areas: "pregunta"
    "respuesta"
    "pregunta"
    "respuesta" 
    ;
}

form{
	width:100%;
    padding-top: 50px;
	padding-bottom: 30px;
	margin: 0 auto;
	padding-left: 30%;
	justify-items: center;
}

form label{
	width: 70%;
	font-weight:bold;
	display:inline-block;
	@include font($tipografia, 20px, black);
}

form input[type="text"],
form input[type="email"]{
	width: 70%;
	padding:3px 10px;
	margin:10px 0;
	display:inline-block;
	@include font($tipografia-secundaria, 15px, black);
}

form input[type="submit"]{
	width:70%;
	padding:8px 16px;
	margin-top:32px;
	display:block;
	@include font($tipografia-secundaria, 15px, white);
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
    background-color: white;
    color: lightcoral;
}

textarea{
	width:70%;
	height:100px;
	border:1px solid #f6f6f6;
	@include font($tipografia-secundaria, 15px, black);
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}


